@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
html, body { 
    --color-1: #a8e6cf;
    --color-2: #dcedc1; 
    --color-3: #ffd3b6; 
    --color-4: #ffaaa5; 
    --color-5: #ff8b94;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    background-image: linear-gradient(135deg, var(--color-1) , var(--color-2));
    font-family: 'Kdam Thmor Pro', sans-serif;
    height: 100vh;
    color: black;
}

.frontPage{
    margin: 0 auto;
    text-align: center;
    background-color: #ffd3b6;
    max-width: 400px;
    max-height: 400px;
    padding: 50px; 
    border-radius: 40px;
    margin-top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    animation: Slide_Up 1.4s ease;
}

.frontPage h1{
    color: rgb(74, 73, 73);   
}

@keyframes Slide_Up{
    0%{
        transform: translateY(240px);
    }
    100%{
        transform:translateY(0);
    }
}

#play{
    background-color: var(--color-5);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#play:hover{
    background-color: #f9747d;
}

#play:active{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transform: translateY(3px);
}

.container {
    display: none;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 50px;
    animation: Slide_Up 1.4s ease;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: var(--color-3);
    margin: 0 auto;
    font-size: 80px;
    display: block;
    align-items: center;
    justify-content: center;
}


button {
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    margin: 40px auto;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#rollBtn {
    background-color: var(--color-5);
}

#rollBtn, #resetBtn{
    box-shadow: 0 5px rgb(199, 110, 110);
}

#rollBtn:hover, #resetBtn:hover{
    background-color: #f9747d;
}

#rollBtn:active, #resetBtn:active{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transform: translateY(3px);
}

#resetBtn {
    background-color: var(--color-5);
}

button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}

.active {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}